/* Header */
@font-face {
    font-family: 'Zilla Slab Regular';
    src: url('../fonts/ZillaSlab-Regular.ttf') format('truetype');
}

.custom-header,
.custom-header * {
    font-family: "Zilla Slab Regular", serif;
}

/* Header TOP*/
.custom-header-top {
    background-color: #418536;
    color: #C9EFC7;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 30px;
}

.header-itens-esquerda {
    justify-content: left;
}

.header-itens-direita {
    justify-content: right;
}

.header-itens-esquerda img,
.header-itens-direita img {
    padding-left: 40px;
    padding-right: 8px;
}

/* Header CENTER*/
.custom-header-center {
    background-color: #C9EFC7;
    padding: 20px 70px 20px 70px;
}

.search-icon {
    width: 50px;
    margin-right: 100px;
    order: 1;
}

.logo {
    max-width: 270px;
    height: auto;
    order: 2;
}

.profile-icon {
    width: 50px;
    margin-left: 100px;
    order: 3;
}

.separator {
    border: none;
    border-top: 2px solid #000000;
    margin: 0px 0px 0px 0px;
}

/* Header BOTTOM*/

.custom-header-bottom {
    background-color: #C9EFC7;
    color: #000000;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.custom-header-bottom a {
    color: #000000;
    font-size: 25px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.custom-header-bottom ul {
    margin: 12px;
    display: flex;
    justify-content: center;

}

.custom-header-bottom ul li a:hover {
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid #9C9C9C;
}

.custom-header-bottom ul li a.active-text {
    border-bottom: 2px solid #000000;
}

/* Footer*/
.custom-footer {
    background-color: #C9EFC7;
    color: #000000;
    padding: 70px;
    padding-left: 190px;
    padding-right: 250px;
    font-family: "Zilla Slab", serif;
    padding-bottom: 20px;
    position: relative;
}

.footer-column {
    margin-bottom: 10px;
}

.footer-column h4 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 17px;
}

.contact-list li {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.opening-hours li {
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.contact-list li img {
    width: 30px;
    margin-right: 10px;
}

.icon-footer-phone {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: -30px;
}

.icon-footer-mail {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: -8px;
}

.icon-footer-location {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: -30px;
}

.separator-v2 {
    border: none;
    border-top: 2px solid #000000;
    margin: 0px 0px 0px 0px;
}

.footer-email {
    text-decoration: underline;
}

.footer-text {
    padding-top: 10px;
    text-align: right;
    color: hsl(0, 0%, 46%);
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.footer-text span {
    margin-right: 30px;
    margin-left: 30px;
}

.social-icons {
    margin-top: 45px;
    margin-left: 130px;
}

.icon-separator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #418536;
    border-radius: 50%;
    margin: 0 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.dog-image {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 230px;
}