.informaesdos-servios-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.informaesdos-servios-informaesdos-servios {
  width: 100%;
  height: 4204px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.informaesdos-servios-component16 {
  top: 309px;
  left: 35px;
  width: 325px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-text {
  left: 58px;
  color: rgba(69, 69, 69, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-inner-plugin-iframe {
  top: 2px;
  left: -1px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.informaesdos-servios-component24 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 274px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-component17 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 274px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-component11 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 274px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 274px;
  position: absolute;
}
.informaesdos-servios-component1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(9, 9, 9, 0);
  border-style: solid;
  border-width: 2px;
}
.informaesdos-servios-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 44px;
  position: absolute;
}
.informaesdos-servios-text02 {
  top: 13px;
  left: 95px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text04 {
  top: 13px;
  left: 305px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text06 {
  top: 13px;
  left: 1300px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-pin {
  top: 12px;
  left: 69px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-subtract {
  top: 4px;
  left: 5px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.informaesdos-servios-usercicrle {
  top: 101px;
  left: 1319px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.informaesdos-servios-searchalt {
  top: 101px;
  left: 88px;
  width: 43px;
  height: 43px;
  position: absolute;
}
.informaesdos-servios-line1 {
  top: 200px;
  left: 0px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
.informaesdos-servios-line3 {
  top: 274px;
  left: 0px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
.informaesdos-servios-text08 {
  top: 219px;
  left: 470px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text10 {
  top: 219px;
  left: 595px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text12 {
  top: 219px;
  left: 727px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text14 {
  top: 219px;
  left: 888px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-expanddown {
  top: 224px;
  left: 664px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.informaesdos-servios-expanddown1 {
  top: 224px;
  left: 814px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.informaesdos-servios-logonobackground1 {
  top: 58px;
  left: 586px;
  width: 268px;
  height: 123px;
  position: absolute;
}
.informaesdos-servios-truck {
  top: 16px;
  left: 273px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-group {
  top: 0px;
  left: 1px;
  width: 22px;
  height: 15.304356575012207px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.informaesdos-servios-ellipse122 {
  top: 11.478267669677734px;
  left: 2.8695669174194336px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-color: rgba(201, 239, 199, 1);
  border-style: solid;
  border-width: 1px;
}
.informaesdos-servios-ellipse123 {
  top: 11.478267669677734px;
  left: 15.113040924072266px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-color: rgba(201, 239, 199, 1);
  border-style: solid;
  border-width: 1px;
}
.informaesdos-servios-vector22 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 13px;
  position: absolute;
}
.informaesdos-servios-inner-plugin-iframe1 {
  top: 16px;
  left: 1280px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.informaesdos-servios-line2 {
  top: 253px;
  left: 742px;
  width: 57px;
  height: 1px;
  position: absolute;
}
.informaesdos-servios-component25 {
  top: 494px;
  left: 136px;
  width: 1194px;
  height: 400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image4 {
  top: 0px;
  left: 0px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text16 {
  top: 45px;
  left: 700px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text18 {
  top: 89px;
  left: 627px;
  color: rgba(0, 0, 0, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text20 {
  top: 332px;
  left: 812px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component27 {
  top: 779px;
  left: 153px;
  width: 1151px;
  height: 515px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-component26 {
  top: 0px;
  left: 0px;
  width: 1151px;
  height: 515px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image6 {
  top: 115px;
  left: 567px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text22 {
  top: 182px;
  left: 91px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text24 {
  top: 233px;
  color: rgba(0, 0, 0, 1);
  width: 529px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-dog {
  top: 0px;
  left: 986px;
  width: 115px;
  height: 115px;
  position: absolute;
}
.informaesdos-servios-text26 {
  top: 469px;
  left: 189px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component28 {
  top: 1201px;
  left: 136px;
  width: 1184px;
  height: 493px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image5 {
  top: 93px;
  left: 0px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text28 {
  top: 153px;
  left: 795px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text30 {
  top: 207px;
  left: 617px;
  color: rgba(0, 0, 0, 1);
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-cat {
  top: 3px;
  left: 83px;
  width: 93px;
  height: 93px;
  position: absolute;
}
.informaesdos-servios-text32 {
  top: 446px;
  left: 817px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component29 {
  top: 1600px;
  left: 136px;
  width: 1168px;
  height: 494px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image8 {
  top: 94px;
  left: 584px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text34 {
  top: 113px;
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text36 {
  top: 237px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 537px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-rabbit {
  top: 2px;
  left: 695px;
  width: 94px;
  height: 94px;
  position: absolute;
}
.informaesdos-servios-text38 {
  top: 439px;
  left: 212px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component30 {
  top: 2094px;
  left: 136px;
  width: 1168px;
  height: 400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image7 {
  top: 0px;
  left: 0px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text40 {
  top: 42px;
  left: 817px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text42 {
  top: 100px;
  color: rgba(0, 0, 0, 1);
  right: 2px;
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-fish {
  top: 275.052734375px;
  left: 907px;
  width: 108px;
  height: 108px;
  position: absolute;
}
.informaesdos-servios-text44 {
  top: 348px;
  left: 811px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component31 {
  top: 2494px;
  left: 153px;
  width: 1151px;
  height: 400px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image9 {
  top: 0px;
  left: 567px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text46 {
  top: 26px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 539px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text48 {
  top: 142px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 541px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text50 {
  top: 343px;
  left: 201px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component32 {
  top: 2809px;
  left: 136px;
  width: 1168px;
  height: 485px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image10 {
  top: 85px;
  left: 0px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text52 {
  top: 131px;
  left: 784px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text54 {
  top: 199px;
  color: rgba(0, 0, 0, 1);
  right: -5px;
  width: 567px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-birdhouse {
  top: 0px;
  left: 67px;
  width: 85px;
  height: 85px;
  position: absolute;
}
.informaesdos-servios-text56 {
  top: 440px;
  left: 819px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component33 {
  top: 3212px;
  left: 145px;
  width: 1159px;
  height: 482px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-image11 {
  top: 82px;
  left: 575px;
  width: 584px;
  height: 400px;
  position: absolute;
  border-color: rgba(58, 165, 41, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}
.informaesdos-servios-text58 {
  top: 140px;
  left: 188px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text60 {
  top: 199px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 549px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-bxscat {
  top: 2px;
  left: 620px;
  width: 89px;
  height: 89px;
  position: absolute;
}
.informaesdos-servios-text62 {
  top: 412px;
  left: 218px;
  color: rgba(58, 165, 41, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-component34 {
  top: 3791px;
  left: 0px;
  width: 1440px;
  height: 413px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-rectangle19 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 413px;
  position: absolute;
}
.informaesdos-servios-line11 {
  top: 337px;
  left: 183px;
  width: 1075px;
  height: 1px;
  position: absolute;
}
.informaesdos-servios-text64 {
  top: 67px;
  left: 183px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text66 {
  top: 67px;
  left: 860px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text68 {
  top: 154px;
  left: 860px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text75 {
  top: 137px;
  left: 236px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text80 {
  top: 346px;
  left: 711px;
  color: rgba(0, 0, 0, 0.47999998927116394);
  width: 521px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-text82 {
  top: 202px;
  left: 236px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.informaesdos-servios-text84 {
  top: 267px;
  left: 236px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.informaesdos-servios-telephone {
  top: 149px;
  left: 194px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-group1 {
  top: -0.000719003495760262px;
  left: -0.0011478837113827467px;
  width: 29.00090789794922px;
  height: 29.00071144104004px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.informaesdos-servios-vector {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.informaesdos-servios-mailoutline {
  top: 210px;
  left: 191px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.informaesdos-servios-location {
  top: 276px;
  left: 191px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.informaesdos-servios-facebook {
  top: 263px;
  left: 967px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-group2 {
  top: -0.0018749999580904841px;
  left: -0.0037499999161809683px;
  width: 29.00362777709961px;
  height: 29.003623962402344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.informaesdos-servios-vector1 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.informaesdos-servios-ellipse124 {
  top: 271px;
  left: 1018px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.informaesdos-servios-ellipse125 {
  top: 271px;
  left: 1103px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.informaesdos-servios-twitter {
  top: 263px;
  left: 1051px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-group3 {
  top: 3.7487006187438965px;
  left: 4.163336342344337e-16px;
  width: 30px;
  height: 24.376298904418945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.informaesdos-servios-vector2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 24px;
  position: absolute;
}
.informaesdos-servios-instagram {
  top: 264px;
  left: 1136px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.informaesdos-servios-group4 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.informaesdos-servios-vector3 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.informaesdos-servios-pngwing1 {
  top: 91px;
  left: 1440px;
  width: 229px;
  height: 322px;
  position: absolute;
}
