/* Main */
/* Main-Título */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Zilla Slab Bold';
    src: url('../fonts/ZillaSlab-Bold.ttf') format('truetype');
}

.custom-main {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
    font-family: "Inter", serif;
}

.custom-main-title {
    font-family: "Inter Bold", serif;
    font-size: 40px;
    font-weight: bold;
    color: #454545;
    padding-left: 60px;
}


/* Main-Conteúdo */