.perfil-agendar-consulta-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.perfil-agendar-consulta-perfil-agendar-consulta {
  width: 100%;
  height: 1441px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #ffffff;
}
.perfil-agendar-consulta-line2 {
  top: 512px;
  left: 400px;
  width: 891px;
  height: 1px;
  position: absolute;
}
.perfil-agendar-consulta-text {
  top: 312px;
  left: 371px;
  color: rgba(69, 69, 69, 1);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text02 {
  top: 364px;
  left: 361px;
  color: rgba(69, 69, 69, 1);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text04 {
  top: 427px;
  left: 400px;
  color: rgba(0, 0, 0, 1);
  width: 846px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text06 {
  top: 524px;
  left: 400px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text08 {
  top: 524px;
  left: 738px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text10 {
  top: 627px;
  left: 738px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text12 {
  top: 676px;
  left: 400px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component2 {
  top: 402px;
  left: 95px;
  width: 246px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle5 {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text14 {
  top: 11px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component11 {
  top: 544px;
  left: 95px;
  width: 246px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle51 {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text16 {
  top: 10px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component13 {
  top: 686px;
  left: 95px;
  width: 246px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle52 {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text18 {
  top: 13px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component12 {
  top: 615px;
  left: 95px;
  width: 246px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle53 {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text20 {
  top: 13px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component10 {
  top: 473px;
  left: 95px;
  width: 246px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle54 {
  top: 0px;
  left: 0px;
  width: 246px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text22 {
  top: 11px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component16 {
  top: 309px;
  left: 35px;
  width: 325px;
  height: 75px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-text24 {
  left: 58px;
  color: rgba(69, 69, 69, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-inner-plugin-iframe {
  top: 13px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.perfil-agendar-consulta-text26 {
  top: 319px;
  left: 1191px;
  color: rgba(69, 69, 69, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Extra Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.perfil-agendar-consulta-rectangle6 {
  top: 562px;
  left: 400px;
  width: 101px;
  height: 101px;
  position: absolute;
  border-color: rgba(69, 69, 69, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.perfil-agendar-consulta-rectangle13 {
  top: 562px;
  left: 738px;
  width: 250px;
  height: 53px;
  position: absolute;
  border-color: rgba(69, 69, 69, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text28 {
  top: 570px;
  left: 755px;
  color: rgba(69, 69, 69, 0.6200000047683716);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text30 {
  top: 570px;
  left: 1058px;
  color: rgba(69, 69, 69, 0.6200000047683716);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-rectangle14 {
  top: 665px;
  left: 738px;
  width: 553px;
  height: 149px;
  position: absolute;
  border-color: rgba(69, 69, 69, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.perfil-agendar-consulta-rectangle11 {
  top: 713px;
  left: 400px;
  width: 101px;
  height: 101px;
  position: absolute;
  border-color: rgba(69, 69, 69, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.perfil-agendar-consulta-niko1 {
  top: 575px;
  left: 417px;
  width: 67px;
  height: 45px;
  position: absolute;
  border-radius: 15px;
}
.perfil-agendar-consulta-text32 {
  top: 627px;
  left: 429px;
  color: rgba(69, 69, 69, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text34 {
  top: 777px;
  left: 426px;
  color: rgba(69, 69, 69, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-rectangle12 {
  top: 713px;
  left: 533px;
  width: 101px;
  height: 101px;
  position: absolute;
  border-color: rgba(69, 69, 69, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.perfil-agendar-consulta-text36 {
  top: 777px;
  left: 550px;
  color: rgba(69, 69, 69, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-homeduotone {
  top: 722px;
  left: 423px;
  width: 55px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle4127 {
  top: 16.04166603088379px;
  left: 11.458333015441895px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.perfil-agendar-consulta-rectangle4128 {
  top: 9.166666984558105px;
  left: 6.875px;
  width: 41px;
  height: 21px;
  position: absolute;
}
.perfil-agendar-consulta-vector3 {
  top: 34.375px;
  left: 21.77083396911621px;
  width: 11px;
  height: 14px;
  position: absolute;
}
.perfil-agendar-consulta-rectangle4129 {
  top: 11.458333015441895px;
  left: 36.66666793823242px;
  width: 5px;
  height: 9px;
  position: absolute;
  border-radius: 0.5px;
}
.perfil-agendar-consulta-medicalveterinarian {
  top: 731px;
  left: 564px;
  width: 39px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-subtract {
  top: 1.248894453048706px;
  left: 0px;
  width: 39px;
  height: 37px;
  position: absolute;
}
.perfil-agendar-consulta-text38 {
  top: 524px;
  left: 1041px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-datetodayduotone {
  top: 573px;
  left: 948px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.perfil-agendar-consulta-timeduotoneline {
  top: 572px;
  left: 1247px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.perfil-agendar-consulta-text40 {
  top: 669px;
  left: 754px;
  color: rgba(69, 69, 69, 0.6200000047683716);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 190.02273082733154%;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-component38 {
  top: 1028px;
  left: 0px;
  width: 1440px;
  height: 413px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle19 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 413px;
  position: absolute;
}
.perfil-agendar-consulta-line1 {
  top: 337px;
  left: 183px;
  width: 1075px;
  height: 1px;
  position: absolute;
}
.perfil-agendar-consulta-text42 {
  top: 67px;
  left: 183px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text44 {
  top: 67px;
  left: 860px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text46 {
  top: 154px;
  left: 860px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text53 {
  top: 137px;
  left: 236px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text58 {
  top: 346px;
  left: 711px;
  color: rgba(0, 0, 0, 0.47999998927116394);
  width: 521px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text60 {
  top: 202px;
  left: 236px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.perfil-agendar-consulta-text62 {
  top: 267px;
  left: 236px;
  color: rgba(0, 0, 0, 1);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-telephone {
  top: 149px;
  left: 194px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-group {
  top: -0.000719003495760262px;
  left: -0.0011478837113827467px;
  width: 29.00090789794922px;
  height: 29.00071144104004px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.perfil-agendar-consulta-vector {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.perfil-agendar-consulta-mailoutline {
  top: 210px;
  left: 191px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.perfil-agendar-consulta-location {
  top: 276px;
  left: 191px;
  width: 35px;
  height: 35px;
  position: absolute;
}
.perfil-agendar-consulta-facebook {
  top: 263px;
  left: 967px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-group1 {
  top: -0.0018749999580904841px;
  left: -0.0037499999161809683px;
  width: 29.00362777709961px;
  height: 29.003623962402344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.perfil-agendar-consulta-vector1 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.perfil-agendar-consulta-ellipse124 {
  top: 271px;
  left: 1018px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.perfil-agendar-consulta-ellipse125 {
  top: 271px;
  left: 1103px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.perfil-agendar-consulta-twitter {
  top: 263px;
  left: 1051px;
  width: 30px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-group2 {
  top: 3.7487006187438965px;
  left: 4.163336342344337e-16px;
  width: 30px;
  height: 24.376298904418945px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.perfil-agendar-consulta-vector2 {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 24px;
  position: absolute;
}
.perfil-agendar-consulta-instagram {
  top: 264px;
  left: 1136px;
  width: 29px;
  height: 29px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-group3 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.perfil-agendar-consulta-vector3 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.perfil-agendar-consulta-pngwing1 {
  top: 91px;
  left: 1440px;
  width: 229px;
  height: 322px;
  position: absolute;
}
.perfil-agendar-consulta-component17 {
  top: 834px;
  left: 738px;
  width: 553px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle55 {
  top: 0px;
  left: 0px;
  width: 553px;
  height: 48px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.perfil-agendar-consulta-text67 {
  top: 12px;
  left: 18px;
  color: rgba(255, 255, 255, 1);
  width: 520px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-rectangle15 {
  top: 562px;
  left: 1041px;
  width: 250px;
  height: 53px;
  position: absolute;
  border-color: rgba(69, 69, 69, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.perfil-agendar-consulta-component111 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 274px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-rectangle111 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 274px;
  position: absolute;
}
.perfil-agendar-consulta-component1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 44px;
  display: flex;
  position: absolute;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(9, 9, 9, 0);
  border-style: solid;
  border-width: 2px;
}
.perfil-agendar-consulta-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 44px;
  position: absolute;
}
.perfil-agendar-consulta-text69 {
  top: 13px;
  left: 95px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text71 {
  top: 13px;
  left: 305px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text73 {
  top: 13px;
  left: 1300px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-pin {
  top: 12px;
  left: 69px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-subtract1 {
  top: 4px;
  left: 5px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.perfil-agendar-consulta-usercicrle {
  top: 101px;
  left: 1319px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.perfil-agendar-consulta-searchalt {
  top: 101px;
  left: 88px;
  width: 43px;
  height: 43px;
  position: absolute;
}
.perfil-agendar-consulta-line11 {
  top: 200px;
  left: 0px;
  width: 1440px;
  height: 10px;
  position: absolute;
}
.perfil-agendar-consulta-line3 {
  top: 274px;
  left: 0px;
  width: 1440px;
  height: 1px;
  position: absolute;
}
.perfil-agendar-consulta-line21 {
  top: 253px;
  left: 472px;
  width: 57px;
  height: 1px;
  position: absolute;
}
.perfil-agendar-consulta-text75 {
  top: 219px;
  left: 470px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text77 {
  top: 219px;
  left: 595px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text79 {
  top: 219px;
  left: 727px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-text81 {
  top: 219px;
  left: 888px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-expanddown {
  top: 224px;
  left: 664px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.perfil-agendar-consulta-expanddown1 {
  top: 224px;
  left: 814px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.perfil-agendar-consulta-logonobackground1 {
  top: 58px;
  left: 586px;
  width: 268px;
  height: 123px;
  position: absolute;
}
.perfil-agendar-consulta-truck {
  top: 16px;
  left: 273px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.perfil-agendar-consulta-group4 {
  top: 0px;
  left: 1px;
  width: 22px;
  height: 15.304356575012207px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.perfil-agendar-consulta-ellipse122 {
  top: 11.478267669677734px;
  left: 2.8695669174194336px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-color: rgba(201, 239, 199, 1);
  border-style: solid;
  border-width: 1px;
}
.perfil-agendar-consulta-ellipse123 {
  top: 11.478267669677734px;
  left: 15.113040924072266px;
  width: 4px;
  height: 4px;
  position: absolute;
  border-color: rgba(201, 239, 199, 1);
  border-style: solid;
  border-width: 1px;
}
.perfil-agendar-consulta-vector22 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 13px;
  position: absolute;
}
.perfil-agendar-consulta-inner-plugin-iframe1 {
  top: 16px;
  left: 1280px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.perfil-agendar-consulta-text83 {
  top: 13px;
  left: 1300px;
  color: rgba(201, 239, 199, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Zilla Slab;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.perfil-agendar-consulta-inner-plugin-iframe2 {
  top: 16px;
  left: 1280px;
  width: 16px;
  height: 16px;
  position: absolute;
}
