.search-results-container {
    position: relative;
    margin-top: 10px;
}

#search-results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(69, 69, 69, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.search-results-container #search-results {
    display: block;
}

.search-results-container li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}