<!DOCTYPE html>
<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriVet - Perfil</title>
    <!-- CSS Bootstrap local-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/header_footer.css">
    <link rel="icon" href="../static/img/logo/logo-white.png">
</head>

<body>
    <!-- Header -->
    <header class="custom-header">
        <!-- Header TOP -->
        <div class="row align-items-center custom-header-top">
            <div class="col-md-6 header-itens-esquerda d-flex justify-content-start">
                <img src="../static/img/icons/Pin.svg" alt="Ícone de localização" class="location-icon">
                <span>Encontra uma Loja</span>
                <img src="../static/img/icons/Group.svg" alt="Ícone de carro" class="car-icon">
                <span>Rastrear Encomenda</span>
            </div>
            <div class="col-md-6 header-itens-direita d-flex justify-content-end">
                <img src="../static/img/icons/InnerPluginIframe.svg" alt="Ícone de telefone" class="phone-icon">
                <span>+351 213 456 789</span>
            </div>
        </div>
        <!-- Header CENTER-->
        <div class="row align-items-center new-row custom-header-center">
            <div class="col-md-4 d-flex justify-content-start">
                <img src="../static/img/icons/Search_alt.svg" alt="Ícone de Busca" class="search-icon">
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="index.html">
                    <img src="../static/img/logo/logo-no-background.png" alt="Logo" class="logo">
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <a href="login.html">
                    <img src="../static/img/icons/User_cicrle.svg" alt="Ícone de Perfil" class="profile-icon">
                </a>
            </div>
        </div>
        <hr class="separator">
        <!-- Header BOTTOM-->
        <div class="row align-items-center new-row d-flex custom-header-bottom">
            <ul class="list-inline d-flex justify-content-center">
                <li><a href="index.html" class="text-decoration-none">Home</a></li>
                <li><a href="planos.html" class="text-decoration-none">Planos</a></li>
                <li><a href="serviços.html" class="text-decoration-none">Serviços</a></li>
                <li><a href="sobre.html" class="text-decoration-none">Sobre</a></li>
            </ul>
        </div>
        <hr class="separator">
    </header>
    <!-- Fim do Header -->

    <!-- Main -->
    <section class="page-section custom-main">
        <!-- Título -->
        <div class="container-fluid mt-3 mb-5">
            <div class="row justify-content-start">
                <div class="col-12">
                    <img alt="" src="../static/img/icons/Inner Plugin Iframe.png" class="float-start" style="width: 48px;
                    height: 48px;">
                    <h1 class="custom-main-title">Veterinário</h1>
                </div>
                <div class="col-5 d-grid gap-3 col-sm-2 px-4 mx-4"> </div>
                <div class="col">
                    <h2 class="mt-2" style="font-weight: bold;">Cliente NºXXXXXX</h2>
                </div>
                <div class="col">
                    <a href="../static/html/vet_index.html" class="text-black">
                        <h5 style="justify-content: end; display: flex;">Voltar</h5>
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <!-- Conteúdo -->
        <div class="container-fluid">
            <div class="row">
                <!-- Opções laterais -->
                <div class="d-grid gap-3 col-sm-2 px-4 mx-4 align-self-start">
                    <a href="vet_index.html" role="button" class="btn btn-primary"
                        style="font-weight: bold;">Sumário</a>
                    <a href="vet_consultas.html" role="button" class="btn btn-primary"
                        style="font-weight: bold;">Consultas</a>
                </div>
                <!-- Informações -->
                <div class="col">
                    <h4 class="fw-bold">Animais associados</h4>
                    <table class="table table-sm table-bordered rounded rounded-3"
                        style="background: rgba(201, 239, 199, 0.2);mix-blend-mode: darken;border: 2px solid rgba(69, 69, 69, 0.5);border-radius: 10px;">
                        <thead>
                            <tr>
                                <th style="width: 120px;">Nome</th>
                                <th style="width: 50px;">Tipo</th>
                                <th style="width: auto;border-right: 0px;">Plano</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>nome</td>
                                <td>tipo</td>
                                <td style="border-right: 0px;">plano</td>
                                <td class="text-end" style="width: 20%;border-left: 0px;">Ver ficha</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h4 class="fw-bold">Planos</h4>
                    <table class="table table-sm table-bordered rounded rounded-3"
                        style="background: rgba(201, 239, 199, 0.2);mix-blend-mode: darken;border: 2px solid rgba(69, 69, 69, 0.5);border-radius: 10px;">
                        <thead>
                            <tr>
                                <th style="width: 120px;">Plano</th>
                                <th style="width: 120px;">Desde</th>
                                <th style="width: 120px;">Próxima fatura</th>
                                <th style="width: auto;border-right: 0px;">Animal associado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>plano</td>
                                <td>dd/mm/aaaa</td>
                                <td>dd/mm/aaaa</td>
                                <td style="border-right: 0px;">animal</td>
                                <td class="text-end" style="width: 20%;border-left: 0px;">Detalhes</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>
                    <h4 class="fw-bold">Consultas agendadas</h4>
                    <table class="table table-sm table-bordered rounded rounded-3"
                        style="background: rgba(201, 239, 199, 0.2);mix-blend-mode: darken;border: 2px solid rgba(69, 69, 69, 0.5);border-radius: 10px;">
                        <thead>
                            <tr>
                                <th style="width: 120px;">Data</th>
                                <th style="width: 50px;">Hora</th>
                                <th style="width: 150px;">Animal associado</th>
                                <th style="width: auto;border-right: 0px;">Veterinário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>dd/mm/aaaa</td>
                                <td>hh:mm</td>
                                <td>animal</td>
                                <td style="border-right: 0px;">veterinário</td>
                                <td class="text-end" style="width: 20%;border-left: 0px;">Detalhes</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Falta o calendário-->
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    </section>

    <!-- Footer -->
    <footer class="custom-footer">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-start">
                <div class="footer-column">
                    <ul class="contact-list">
                        <h4>Contactos</h4>
                        <li><img src="../static/img/icons/telephone.png" alt="Ícone telefone" class="icon-footer-phone">
                            +351
                            213 456 789
                        </li>
                        <li><img src="" alt=""> +351 213 874 315</li>
                        <span class="footer-space"><img src=""></span>
                        <li><img src="../static/img/icons/mail-outline.png" alt="Ícone email" class="icon-footer-mail">
                            <span class="footer-email">geral@nutrivet.pt</span>
                        </li>
                        <span class="footer-space"><img src=""></span>
                        <li><img src="../static/img/icons/location.png" alt="Ícone localização"
                                class="icon-footer-location">
                            168/170,
                            Avenida 01, Ilhavo
                        <li><img src="" alt="">Aveiro,
                            Portugal</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="footer-column">
                    <ul class="opening-hours">
                        <h4>Horário de Funcionamento</h4>
                        <li>Seg - Sex: 9.00 - 18.00</li>
                        <li>Sábado: 9.00 - 18.00</li>
                        <li>Domingo: Fechados</li>
                    </ul>
                    <div class="social-icons">
                        <a href=""><img src="../static/img/icons/facebook.png" alt="Ícone facebook"
                                class="icon-footer-facebook"></a>
                        <span class="icon-separator"></span>
                        <a href=""><img src="../static/img/icons/twitter.png" alt="Ícone twitter"
                                class="icon-footer-twitter"></a>
                        <span class="icon-separator"></span>
                        <a href=""><img src="../static/img/icons/instagram.png" alt="Ícone instagram"
                                class="icon-footer-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="separator-v2">
        <div class="footer-text">
            <span>Política de Privacidade</span> <span>Termos e Condições</span> <span>Ajuda</span>
        </div>
        <img src="../static/img/imagens/pngwing1.png" alt="Imagem de um cão" class="dog-image">
    </footer>
    <!-- Fim do Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>